div#error_explanation {
    li.error__messagehere {
        color: red;
    }
}

section.edit__section {
    top: 50% !important;
}
section.signup__section{
    div.login__link__signup {
        text-align: right;
    }

    * {
        color: #555;
    }
    box-shadow: 0px 0px 12px #555;

    width: 700px;
    // height: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
    padding: 26px;
    border-radius: 10px;

    div.signup__div {

        div.signup__heading {
            h2 {
                text-align: center;
            }
            hr {
                width: 50%;
                margin: 20px auto;
            }
        }

        form {
            input {
                padding: 4px 10px;
                border-radius: 5px;
                width: 100%;
                margin-bottom: 8px;
                // box-shadow: 0px 0px 5px #aaa;                
            }
            
            div.actions {
                margin-top: 20px;
                // background: ;
                display: flex;
                justify-content: center;
                
            }
        }

        


    }




}

div.checkbox__login {
    display: flex;
    align-items: center !important;
    justify-content: end;
    input[type="checkbox"] {
        width: 30px !important;
    }
}